footer{
    background-color: rgba(0, 0, 0, 0.815);
    color: #fff;
    height:40px;
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: teal;
}
/* test Ci  */