@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bag-btn : #ff7003;
    --bag-btn-hover : #b65810d8;
}


.formBMI{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
 
}
.formBMI label{
    display: block;
    font-size: 1.5em;
    color:rgba(53, 51, 51, 0.876);
}

.formBMI input{
    width: 50vw;
    height: 5vh;
    margin-top: 5px;
    border-radius: 10px;
    border: solid thin gray;
    outline: none;
}
.formBMI.formGroup{
    display: flex;
    flex-direction: column;
}
.btnCalculator{
    background-color: var(--bag-btn);
    width: 10vw;
    height: 5.5vh;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    outline: none;
    color: #fff;
}
.btnCalculator:hover{
    background-color: var(--bag-btn-hover );
}
.result{
    margin: 50px ;
    font-size: 1.4em;
    color: #ff5303;
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
	.btnCalculator{
        width: 30vw; 
    }
    .result{
        font-size: 1.2em;
    }
}